<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userService" class="service.UserService"/>
   <bean id="htmlService" class="service.HtmlService"/>
    <bean id="optionService" class="service.OptionService"/>
  <!--  <bean id="carService" class="service.CarService"/>-->
    <bean id="validationService" class="service.ValidationService"/>
   <bean id="cardao" class="dao.HibernateCarDao"/>
   <!-- <bean id="optionDao" class="dao.HibernateOptionDao"/> -->
    <!--<bean id="userDao" class="dao.UserDaoImpl"/>-->
    <bean id="carOptionDao" class="dao.CarOptionDaoImpl"/>

</beans>